@import "font-awesome/variables";
@import "font-awesome/solid";

.login-icon-prefix::before {
    @extend .fa;
    content: "#{$fa-var-lock} ";
}

.create-ad-icon-prefix::before {
    @extend .fa;
    content: "#{$fa-var-plus} ";
}

.message-icon-prefix::before {
    @extend .fa;
    content: "#{$fa-var-comment} ";
}