// Colors:
$bubble-color: "#ddd";
$dark-bubble-color: "#262a32";
$accent-color: #546fce;
:root {
    --bg-color: white;
    --bg-color-dark: #fafafa;
    --bg-color-darker: #f4f4f4;
    --text-color: black;
    --accent-text-color: white;
    --accent-color: #{$accent-color};
    --accent-light-text-color: #{$accent-color};
    --border-color: #e5e5e5;
    --red: #ff5252;
    --green: #4caf50;
    --bubble-color: #{$bubble-color};
    --field-background: var(--bg-color);

    // Dark mode styles
    @media (prefers-color-scheme: dark) {
        --bg-color: #343842;
        --bg-color-dark: #2f333c;
        --bg-color-darker: #2a2e37;
        --text-color: white;
        --border-color: var(--bg-color-dark);
        --accent-light-text-color: #{lighten($accent-color, 10)};
        --red: #ff5252;
        --green: #55eb5a;
        --bubble-color: #{$dark-bubble-color};
        --field-background: #0003;
    }
}

// Sizes:
$page-width: 72rem;
$form-width: 24rem;
$card-width: 40rem;
$nav-height: 4.3rem;

// Mixins:
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin limit-width {
    max-width: $page-width;
    margin: 0 auto;
}

@mixin card-limit-width {
    max-width: $card-width;
    margin: 0 auto;
    width: 100%;
}

@mixin form-limit-width {
    max-width: $form-width;
    width: 100%;
    margin: 0 auto;
}

@mixin opacity-animated($multiplier: 1) {
    transition-duration: 0.2s;
    transition-property: opacity, background-color;

    &:hover {
        opacity: 0.8 / $multiplier;
    }
}

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

$light-shadow: 1px 1px 0.42rem rgba(#000, 0.2);
$medium-shadow: 1px 1px 0.7rem rgba(#000, 0.2);
