@charset "UTF-8";
@import "vars";
@import "icons";

* {
    box-sizing: border-box;
    overflow-anchor: none;
}

html,
body {
    margin: 0;
}

.logo {
    font-size: 1.33rem;
    font-weight: bold;
}

a {
    color: $accent-light-text-color;
}

#navbar {
    border-bottom: 2px solid $border-color;

    > div {
        @include limit-width;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;

        a:not(.button):not(.normal) {
            @include opacity-animated(1.25);
            text-decoration: none;
            color: $text-color;
        }

        > ul {
            align-items: center;
            list-style: none;
            padding: 0;
            display: flex;
            gap: 1.2rem;
            margin: 0;

            li {
                display: inline-flex;
                white-space: pre-wrap;
            }
        }
    }
}

.error {
    color: $red;
}

.success {
    color: $green;
}

.msg {
    @include center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    padding: .7rem 1.2rem;
    border-radius: .5rem;
    margin: 0;
    background-color: #fff5;
    cursor: pointer;
    &::before {
        content: "";
        border-radius: inherit;
        position: absolute;
        inset: 0px;
        background-color: currentColor;
        opacity: .1;
    }
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

body {
    background-color: $bg-color;
}

main > .card {
    @include card-limit-width;
    margin-top: 5rem;
}

.card {
    h1 {
        font-size: 2rem;
    }

    background-color: $bg-color-darker;
    overflow: hidden;
    border-radius: 1rem;

    .card-indent {
        margin: 2rem;
    }
}

.center {
    @include center;
}

.full-width {
    display: block;
    width: 100%;
    max-width: unset;
}

.panel {
    @include center;
    padding: 0 1rem;
    background-color: $bg-color-dark;
}

.ad-panel-container {
    @include center;
    @include form-limit-width;
    max-width: 20rem;
    margin-bottom: 2.25rem;
    margin-top: 1rem;
}

form.real-form,
form.wide-form {
    &:not(.full-width) {
        @include form-limit-width;
    }

    &.real-form {
        margin-top: 2rem;
        padding: 1rem;

        p {
            margin-top: 0;
        }
    }

    display: flex;
    flex-direction: column;
    input, .button {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: unset;
        }
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    appearance: none;
    width: 100%;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 0.33rem;
    font-size: unset;
    line-height: inherit;
    &:not(.flat) {
        transition: box-shadow 0.5s;
    }

    &:focus,
    &:active {
        outline: none;

        &:not(.flat) {
            box-shadow: $medium-shadow;
        }
    }

    &:not(.flat) {
        box-shadow: $light-shadow;
    }
}

.flat {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s;

    &.button {
        background-color: #0002;
        color: black;
    }

    &:hover {
        background-color: #0001;
    }

    &:focus,
    &:active {
        background-color: #0002;
    }
}

.search-result {
    text-decoration: none;
    color: unset;
}

textarea {
    resize: vertical;
    font-family: unset;
}

.limit-width {
    @include limit-width;
}

.button,
button,
input[type="submit"] {
    @include opacity-animated;
    text-decoration: none;
    color: $accent-text-color;
    background-color: $accent-color;
    padding: 0.5rem 0.8rem;
    border-radius: 0.33rem;
    text-align: center;
    border: none;
    font-size: unset;
    cursor: pointer;
    line-height: inherit;

    &.destructive {
        background-color: $red;
    }
}
