@charset "UTF-8";
@import "vars";
@import "icons";

* {
    box-sizing: border-box;
    overflow-anchor: none;
}

html,
body {
    margin: 0;
}

.logo {
    font-size: 1.33rem;
    font-weight: bold;
}

a {
    color: var(--accent-light-text-color);
}

#navbar {
    border-bottom: 2px solid var(--border-color);
    height: $nav-height;

    > div {
        @include limit-width;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 1rem;

        a:not(.button):not(.normal) {
            @include opacity-animated(1.25);
            text-decoration: none;
            color: var(--text-color);
        }

        > ul {
            align-items: center;
            list-style: none;
            padding: 0;
            display: flex;
            gap: 1.2rem;
            margin: 0;

            li {
                display: inline-flex;
                white-space: pre-wrap;
            }
        }
    }
}

.pre {
    white-space: pre-wrap;
}

.error {
    color: var(--red);
}

.success {
    color: var(--green);
}

.msg {
    @include center;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 0.5rem;
    margin: 0;
    background-color: #fff5;
    cursor: pointer;
    &::before {
        content: "";
        border-radius: inherit;
        position: absolute;
        inset: 0px;
        background-color: currentColor;
        opacity: 0.1;
    }
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

:root {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
}

main > .card {
    @include card-limit-width;
    margin-top: 5rem;
}

.card {
    h1 {
        font-size: 2rem;
        margin: 0;
    }

    .card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 0.8rem;
        .price {
            font-size: 1.33rem;
        }
    }

    background-color: var(--bg-color-darker);
    overflow: hidden;
    border-radius: 1rem;

    .card-indent {
        margin: 2rem;
        &:not(:first-child) {
            margin-top: 0;
        }
    }
}

.center {
    @include center;
}

.full-width {
    display: block;
    width: 100%;
    max-width: unset;
}

.panel {
    @include center;
    padding: 0 1rem;
    background-color: var(--bg-color-dark);
}

.ad-panel-container {
    @include center;
    @include form-limit-width;
    max-width: 20rem;
    margin-bottom: 2.25rem;
    margin-top: 1rem;
    flex-direction: column;
}

form.real-form,
form.wide-form {
    display: flex;
    flex-direction: column;

    &:not(.full-width) {
        @include form-limit-width;
    }

    &.real-form {
        margin-top: 2rem;
        padding: 1rem;

        p {
            margin-top: 0;
        }
    }

    input,
    .button {
        margin-bottom: 1rem;
        &:last-child {
            margin-bottom: unset;
        }
    }
}

.send-message-form {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: var(--bg-color);

    input[type="submit"] {
        position: absolute;
        right: 0;
        background-color: transparent !important;
        color: var(--text-color);
        opacity: 0.7;
        top: 0;
        bottom: 0;
        padding-right: 0.8rem;
    }
}

.icon-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    .icon {
        height: 1em;
        margin-right: 0.15em;
    }
}

.muted {
    opacity: 0.5;
}

#new-message {
    padding-right: 2.5rem;
}

.card-image {
    max-height: 20rem;
    object-fit: cover;
    width: 100%;
}

.messages-container {
    display: flex;
    height: calc(100vh - #{$nav-height});
    max-width: $page-width;
    margin: 0 auto;

    .conversations {
        flex: 1;
        max-width: 25rem;
        border-right: 2px solid var(--border-color);
    }

    .messages {
        flex: 3;
        height: 100%;
    }

    .messages-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;

        #message-area {
            height: 100%;
            overflow-y: scroll;
            padding: 0.5rem;
            display: flex;
            flex-direction: column;
        }
    }
}

.padder {
    flex: 1;
}

.message {
    $wing-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

    .time {
        font-size: 0.8rem;
        opacity: 0.5;
        user-select: none;
    }

    .text {
        position: relative;
        padding: 0.5rem 0.75rem;
        display: inline;
        margin: 0;
        min-height: 28px;
        border-radius: 0.66rem;
        overflow-wrap: anywhere;
        max-width: 100%;

        &::before {
            bottom: 0;
            position: absolute;
        }
    }

    $after: "'/%3E%3C/svg%3E";

    &.sent {
        justify-content: end;

        .text {
            margin-left: 0.5rem;
            background-color: var(--accent-color);
            color: var(--accent-text-color);
            border-bottom-right-radius: 0;
            margin-right: $wing-size;

            &::before {
                $before: "%3Csvg width='24px' height='24px' viewBox='0 0 0.633 0.842' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0v.842L.487.84A.152.152 0 0 0 .592.585L0 0z' fill='";
                content: url('data:image/svg+xml,#{$before}#{str-replace("#{$accent-color}", "#", "%23")}#{$after}');
                right: -$wing-size;
            }
        }
    }

    &:not(.sent) {
        flex-direction: row-reverse;
        justify-content: start;

        .text {
            margin-right: 0.5rem;
            background-color: var(--bubble-color);
            color: var(--text-color);
            border-bottom-left-radius: 0;
            margin-left: $wing-size;
            $before: "%3Csvg width='24px' height='24px' viewBox='0 0 0.633 0.842' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.633 0v.842L.146.84A.152.152 0 0 1 .04.585L.633 0z' fill='";
            &::before {
                content: url("data:image/svg+xml,#{$before}#{str-replace($bubble-color, '#', '%23')}#{$after}");
                @media (prefers-color-scheme: dark) {
                    content: url("data:image/svg+xml,#{$before}#{str-replace($dark-bubble-color, '#', '%23')}#{$after}");
                }
                left: -$wing-size;
            }
        }
    }
}

.ad-info {
    background-color: var(--bg-color);
    display: flex;
    padding: 0 1rem;
    border-bottom: 2px solid var(--border-color);
    align-items: center;
    gap: 1rem;

    img {
        height: 2rem;
        aspect-ratio: 2 / 1;
        background-color: var(--bubble-color);
        object-fit: cover;
        border-radius: 0.3rem;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    appearance: none;
    width: 100%;
    padding: 0.5rem 0.8rem;
    border: none;
    border-radius: 0.33rem;
    font-size: unset;
    line-height: inherit;
    &:not(.flat) {
        background-color: var(--field-background);
    }
    color: inherit;

    &:not(.flat) {
        transition: box-shadow 0.5s;
    }

    &:focus,
    &:active {
        outline: none;

        &:not(.flat) {
            box-shadow: $medium-shadow;
        }
    }

    &:not(.flat) {
        box-shadow: $light-shadow;
    }
}

.banner {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
}

.flat {
    background-color: transparent;
    border: none;
    transition: background-color 0.2s;

    &.button {
        background-color: #0002;
        color: var(--text-color);
    }

    &:hover {
        background-color: #0001;
    }

    &:focus,
    &:active {
        background-color: #0002;
    }
}

.search-result {
    text-decoration: none;
    color: unset;
}

textarea {
    resize: vertical;
    font-family: unset;
}

.limit-width {
    @include limit-width;
}

.button,
button,
input[type="submit"] {
    @include opacity-animated;
    text-decoration: none;
    color: var(--accent-text-color);

    padding: 0.5rem 0.8rem;
    border-radius: 0.33rem;
    text-align: center;
    border: none;
    font-size: unset;
    cursor: pointer;
    line-height: inherit;

    &:not(.flat) {
        background-color: var(--accent-color);
    }

    &.destructive {
        background-color: var(--red);
    }
}
