p Hej!
p Någon har förfrågat ett nytt lösenord för blocketklon.
p Om det inte var du som förfrågade ett nytt lösenord, ignorera detta mail. Ditt lösenord kommer inte ändras förrän du klickar på länken.
p Länken är giltig i 24 timmar:
p
  a href="#{url}" Ändra mitt lösenord
